# -------------------------
# Entornos virtuales
# -------------------------
venv/
.venv/

# -------------------------
# Dependencias de Node.js
# -------------------------
node_modules/

# -------------------------
# Archivos de base de datos de Django
# -------------------------
db.sqlite3

# -------------------------
# Archivos de caché y compilación de Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# -------------------------
# Archivos de sistema operativo y de editores de texto
# -------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# -------------------------
# Archivos de subida y estáticos
# -------------------------
/uploads/
/staticfiles/

# -------------------------
# Archivos de log
# -------------------------
logs/
*.log

# -------------------------
# Archivos de configuración sensible
# -------------------------
.env

# -------------------------
# Migraciones compiladas (opcional)
# -------------------------
**/migrations/__pycache__/
**/migrations/*.pyc
