/* Estilos generales */
body {
    font-family: 'Inter', sans-serif;
    background-color: #161a1b;  /* Fondo oscuro */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

/* Estilo general para el formulario de registro */
#signup-form {
    background-color: rgba(255, 255, 255, 0.1);  /* Fondo translúcido */
    backdrop-filter: blur(10px);  /* Efecto de desenfoque */
    padding: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

/* Título del formulario */
#signup-form h2 {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

/* Estilo para cada campo de formulario */
#signup-form input {
    width: 95%;
    padding: 1rem;
    border-radius: 0.75rem;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border: 1px solid transparent;
    margin-bottom: 1rem;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}

#signup-form input:focus {
    outline: none;
    border-color: white;
    background-color: rgba(255, 255, 255, 0.3);
}

#signup-form label {
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: white;
}

/* Botón de enviar (Crear Usuario) */
button[type="submit"] {
    width: 100%;
    padding: 1rem 2rem;
    background-color: #34d399;  /* Verde claro */
    color: white;
    border: none;
    border-radius: 9999px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #2ca674;  /* Verde más oscuro */
    transform: scale(1.05);
}

/* Estilo del enlace para Login */
#gotoLoginLink {
    font-weight: bold;
    color: white;
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s ease;
}

#gotoLoginLink:hover {
    color: #34d399;  /* Verde claro */
    
}

/* Botón para regresar */
#backFromSignupButton {
    width: 100%;
    padding: 1rem 2rem;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-weight: bold;
    border-radius: 9999px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#backFromSignupButton:hover {
    background-color: white;
    color: #34d399;
    transform: scale(1.05);
}

/* Mensajes de estado */
#signupStatusMessage {
    font-size: 0.9rem;
    font-weight: bold;
    color: #ff8c00;  /* Naranja para mensajes de error o advertencia */
    margin-top: 1rem;
}

/* Estilos responsive */
@media screen and (max-width: 640px) {
    #signup-form {
        padding: 1.5rem;
    }

    #signup-form h2 {
        font-size: 1.5rem;
    }

    #signup-form input {
        padding: 0.8rem;
    }

    button[type="submit"],
    #backFromSignupButton {
        padding: 0.8rem 1.5rem;
    }
}
